{
  "printWidth": 105,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "semi": true,
  "overrides": [
    {
      "files": "*.{css,scss}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}