// Main page

.container {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  max-width: 680px;
}

.row {
  display: flex;
  gap: 10px;
}

// Gallery styles

.gallery {
  margin-top: 20px;
  max-width: 680px;
}
