.container {
  border-radius: 20px;
  background: #fff;
  max-width: 680px;

  .img {
    border-radius: 20px;
    display: block;
    max-width: 100%;
  }
}

.row_container {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}

.content {
  margin: 0 20px;
}

.image_container {
  position: relative;
  display: inline-block;
}

.user_logs {
  margin-top: 30px;
  padding: 14px 20px ;
  display: flex;
  flex-direction: column;
  gap: 10px;
}