.container {
  display: flex;
  flex-direction: column;
}

.text {
  color: #8C8C8C;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.select {
  width: 100%;
}