@import "normalize.css";

body {
  background: #f8f8f7;
}

.global-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#highlighted-text {
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.layout-container {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  max-width: 645px;
}