.container {
  border-radius: 20px;
  background: #f8f8f7;
  padding: 10px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 30px;
}

.reload_container {
  display: flex;
  gap: 10px;
  align-items: flex-end;

}