.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #fbe0dc;
  border-radius: 20px;
  background: #fff;
  width: 470px;
  transition: border-color 0.3s;

  &:focus-within {
    border-color: #ff868e;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 0 15px 20px;
    background: #fff;
    color: #1d1d1d;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border-radius: 20px;

    &::placeholder {
      color: #8c8c8c;
    }
  }

  .search-button {
    border-radius: 10px;
    background: #fbe0dc;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 10px 10px 10px 0;
    max-height: 40px;
    max-width: 40px;

    img {
      padding: 10px;
    }
  }
}
